/*~ nav style starts here */
.nav{
    width:100%;
    height:56px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
/* ~navbar's lft side style goes here*/
.navLeft{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1%;
}
/* ~navbar's middle side's style starts from here */
.navMiddle{
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.navMiddle>div{
    width:10%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.navIconColor{
    fill:gray;
}

/*~ navbar's icon's active style for all goes here */

.navActiveIconColor{
    fill:#1876f2;
}
/*~ this active style is only for navbar's middle part */
.active{
    height:90%;
    border-bottom: 4px solid #1876f2;
}
.navMiddle>div:hover{
    height:90%;
    /* border-bottom: 4px solid blue; */
    background-color:#f0f2f5;
    border-radius: 5px;
}
/*
~ navbar's right side's style goes here 
*/
.navRight{
    width:20%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content:right;
    padding-top: 15%;
    padding-bottom: 15%;
}
.navRight>div{
    width:11%;
    min-width: 42px;
    height:100%;
    min-height: 39px;
    margin-right: 3%;
    background-color:#f0f2f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.navRight>div:nth-child(1){
    width:15%;
    border-radius: none;
    background-color:#ffffff;
}
.navRight>div>img{
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10%;
}
